<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cloud.doctor.mapper.DiseaseMapper">

    <resultMap id="BaseResultMap" type="com.cloud.doctor.entity.Disease">
            <id property="id" column="id" />
            <result property="name" column="name" />
            <result property="recommendDeptId" column="recommend_dept_id" />
            <result property="riskLevel" column="risk_level" />
            <result property="symptomDesc" column="symptom_desc" />
            <result property="createTime" column="create_time" />
            <result property="isDeleted" column="is_deleted" />
    </resultMap>

    <sql id="Base_Column_List">
        id,name,recommend_dept_id,risk_level,symptom_desc,create_time,
        is_deleted
    </sql>
</mapper>
